@import "./authentication.scss";

#landing-container {
  @extend #container;
  background-color: #25bdbc;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logo {
    width: 10vw;
    height: 5vh;
  }

  .nav-link {
    color: #eee;
    font: normal normal 400 2.5vh Open Sans;
  }

  .nav-link:hover {
    color: #fff;
  }
}

#landing-content {
  display: flex;
  align-items: center;
  margin-top: 4vh;

  #description {
    margin-right: 0;

    h1 {
      font: normal normal bold 6vh Open Sans;
      color: #eee;
    }

    h3 {
      font: normal normal 300 3vh Open Sans;
      color: #eee;
      margin: 4vh 2vw 0 0;
    }
  }

  #illustration {
    width: 33%;
  }
}

#buttons {
  margin-top: 6vh;

  button {
    background-color: #25bdbc;
    color: #eee;
    border-radius: 40px;
    border: 1px solid #eee;
    margin-right: 1rem;
    font: normal normal 300 1.2rem/1.2rem Open Sans;
    padding: 0.5rem 1.5rem;
  }

  button:hover {
    color: #fff;
    border-color: #fff;
  }

  button:active, button:focus {
    outline: none;
  }
}

.container-margin {
  margin: 5vh 4vw;
}